<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Todo App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Todo App" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <h1 class="center">Tasks Todo</h1>
    <h2 class="center">Need to stay organized?  Keep it straight with a couple lists of Tasks Todo!</h2>
    <main role="main" class="container">
<!--       <div class="row">
        <div class="col-md-8 col-md-offset-2">
 -->          <%# render 'layouts/messages' %>
          <%= yield %>
<!--         </div>
      </div>
 -->    </main>
  </body>
</html>
